.highlightText__content {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 1;
}

.highlightText__textarea {
  margin: 0;
  border: 0;
  border-radius: 0;
  outline: 0;
  color: #444; /* or whatever */
  background-color: rgba(0, 0, 0, 0.03);
  z-index: 2;
  resize: none;
  transition: background-color 0.1s linear;
  &:disabled {
    background-color: rgba(0, 0, 0, 0);
  }
  &:focus {
    background-color: rgba(0, 0, 0, 0.08);
  }
}

.highlightText__backdrop {
  pointer-events: none;
  overflow: auto;
  background-color: #fff;
}

.highlightText__highlights {
  white-space: pre-wrap;
  color: transparent;
  & mark {
    color: transparent;
    background-color: #d4e9ab;
  }
}

.highlightText__text {
  white-space: pre-wrap;
  word-wrap: break-word;
  font: 18px/24px 'Open Sans', sans-serif;
  letter-spacing: 1px;
  padding: 12px 15px;
}
